In [29]:
import pandas as pd
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [2]:
df = pd.read_csv('/Processo seletivo dhauz/cancellation_prediction/cancellation_prediction.csv')
df

,type,cancellation,days_between_booking_arrival,year_arrival_date,month_arrival_date,week_number_arrival_date,day_of_month_arrival_date,num_weekend_nights,num_workweek_nights,num_adults,...,num_previous_stays,reserved_room,changes_between_booking_arrival,deposit_policy,id_travel_agency_booking,id_person_booking,customer_type,avg_price,required_car_parking_spaces,total_of_special_requests
0,Fancy Hotel,0,342,2015,July,27,1,0,0,2,...,0,C,3,No Deposit,NaN,NaN,0,0.00,0,0
1,Fancy Hotel,0,737,2015,July,27,1,0,0,2,...,0,C,4,No Deposit,NaN,NaN,0,0.00,0,0
2,Fancy Hotel,0,7,2015,July,27,1,0,1,1,...,0,A,0,No Deposit,NaN,NaN,0,75.00,0,0
3,Fancy Hotel,0,13,2015,July,27,1,0,1,1,...,0,A,0,No Deposit,304.0,NaN,0,75.00,0,0
4,Fancy Hotel,0,14,2015,July,27,1,0,2,2,...,0,A,0,No Deposit,240.0,NaN,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Hotel,0,23,2017,August,35,30,2,5,2,...,0,A,0,No Deposit,394.0,NaN,0,96.14,0,0
119386,Hotel,0,102,2017,August,35,31,2,5,3,...,0,E,0,No Deposit,9.0,NaN,0,225.43,0,2
119387,Hotel,0,34,2017,August,35,31,2,5,2,...,0,D,0,No Deposit,9.0,NaN,0,157.71,0,4
119388,Hotel,0,109,2017,August,35,31,2,5,2,...,0,A,0,No Deposit,89.0,NaN,0,104.40,0,0
119389,Hotel,0,205,2017,August,35,29,2,7,2,...,0,A,0,No Deposit,9.0,NaN,0,151.20,0,2

In [3]:
df.columns

Index(['type', 'cancellation', 'days_between_booking_arrival',
       'year_arrival_date', 'month_arrival_date', 'week_number_arrival_date',
       'day_of_month_arrival_date', 'num_weekend_nights',
       'num_workweek_nights', 'num_adults', 'num_children', 'num_babies',
       'breakfast', 'country', 'market_segment', 'distribution_channel',
       'repeated_guest', 'num_previous_cancellations', 'num_previous_stays',
       'reserved_room', 'changes_between_booking_arrival', 'deposit_policy',
       'id_travel_agency_booking', 'id_person_booking', 'customer_type',
       'avg_price', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [4]:
dados_sem_duplicados = df.drop_duplicates()

In [22]:
dados = dados_sem_duplicados.drop(['week_number_arrival_date','num_weekend_nights','num_workweek_nights','id_person_booking',
                 'market_segment','distribution_channel','customer_type','required_car_parking_spaces','total_of_special_requests','num_babies'], axis=1)
dados

,type,cancellation,days_between_booking_arrival,year_arrival_date,month_arrival_date,day_of_month_arrival_date,num_adults,num_children,breakfast,country,repeated_guest,num_previous_cancellations,num_previous_stays,reserved_room,changes_between_booking_arrival,deposit_policy,id_travel_agency_booking,avg_price
0,Fancy Hotel,0,342,2015,July,1,2,0.0,True,PRT,0,0,0,C,3,No Deposit,NaN,0.00
1,Fancy Hotel,0,737,2015,July,1,2,0.0,True,PRT,0,0,0,C,4,No Deposit,NaN,0.00
2,Fancy Hotel,0,7,2015,July,1,1,0.0,True,GBR,0,0,0,A,0,No Deposit,NaN,75.00
3,Fancy Hotel,0,13,2015,July,1,1,0.0,True,GBR,0,0,0,A,0,No Deposit,304.0,75.00
4,Fancy Hotel,0,14,2015,July,1,2,0.0,True,GBR,0,0,0,A,0,No Deposit,240.0,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Hotel,0,23,2017,August,30,2,0.0,True,BEL,0,0,0,A,0,No Deposit,394.0,96.14
119386,Hotel,0,102,2017,August,31,3,0.0,True,FRA,0,0,0,E,0,No Deposit,9.0,225.43
119387,Hotel,0,34,2017,August,31,2,0.0,True,DEU,0,0,0,D,0,No Deposit,9.0,157.71
119388,Hotel,0,109,2017,August,31,2,0.0,True,GBR,0,0,0,A,0,No Deposit,89.0,104.40
119389,Hotel,0,205,2017,August,29,2,0.0,False,DEU,0,0,0,A,0,No Deposit,9.0,151.20

In [19]:
teste1 = dados1[dados1['deposit_policy']=='Refundable']
dados1[dados1['deposit_policy']=='No Deposit']

dados1[dados1['deposit_policy']=='Non Refund']

dados1[dados1['num_children']==0]

dados1[dados1['num_babies']!=0]

,type,cancellation,days_between_booking_arrival,year_arrival_date,month_arrival_date,day_of_month_arrival_date,num_adults,num_children,num_babies,breakfast,country,repeated_guest,num_previous_cancellations,num_previous_stays,reserved_room,changes_between_booking_arrival,deposit_policy,id_travel_agency_booking,avg_price
517,Fancy Hotel,1,123,2015,July,18,2,0.0,1,True,PRT,0,0,0,E,1,No Deposit,240.0,157.00
889,Fancy Hotel,1,131,2015,August,3,2,0.0,1,False,PRT,0,0,0,A,1,No Deposit,177.0,119.70
1024,Fancy Hotel,1,101,2015,August,10,2,0.0,1,False,PRT,0,0,0,E,0,No Deposit,240.0,196.00
1060,Fancy Hotel,1,1,2015,August,12,2,0.0,1,True,PRT,0,0,0,E,0,No Deposit,NaN,191.00
1123,Fancy Hotel,1,80,2015,August,15,2,0.0,1,False,PRT,0,0,0,E,1,No Deposit,240.0,208.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79005,Hotel,1,37,2015,October,31,2,0.0,1,True,PRT,0,1,0,A,0,No Deposit,NaN,0.00
80920,Hotel,1,3,2015,November,28,2,0.0,1,True,PRT,0,0,0,D,1,No Deposit,83.0,77.60
80986,Hotel,1,65,2015,December,2,1,2.0,1,True,PRT,0,0,0,F,0,No Deposit,14.0,178.00
81375,Hotel,1,22,2015,December,9,0,2.0,1,True,PRT,0,0,0,B,1,No Deposit,14.0,80.75
82333,Hotel,1,1,2015,December,29,2,0.0,1,True,PRT,0,0,0,B,2,No Deposit,29.0,72.50

In [20]:
#Separando os dados em anos.
dados_2015 = dados[dados['year_arrival_date']==2015]
dados_2016 = dados[dados['year_arrival_date']==2016]
dados_2017 = dados[dados['year_arrival_date']==2017]

dados0 = dados[dados['cancellation']==0]
dados1 = dados[dados['cancellation']==1]
dados1

,type,cancellation,days_between_booking_arrival,year_arrival_date,month_arrival_date,day_of_month_arrival_date,num_adults,num_children,num_babies,breakfast,country,repeated_guest,num_previous_cancellations,num_previous_stays,reserved_room,changes_between_booking_arrival,deposit_policy,id_travel_agency_booking,avg_price
8,Fancy Hotel,1,85,2015,July,1,2,0.0,0,True,PRT,0,0,0,A,0,No Deposit,240.0,82.0
9,Fancy Hotel,1,75,2015,July,1,2,0.0,0,False,PRT,0,0,0,D,0,No Deposit,15.0,105.5
10,Fancy Hotel,1,23,2015,July,1,2,0.0,0,True,PRT,0,0,0,E,0,No Deposit,240.0,123.0
27,Fancy Hotel,1,60,2015,July,1,2,0.0,0,True,PRT,0,0,0,E,0,No Deposit,240.0,107.0
32,Fancy Hotel,1,96,2015,July,1,2,0.0,0,True,PRT,0,0,0,E,0,No Deposit,NaN,108.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,Hotel,1,132,2017,April,25,0,0.0,0,True,FRA,0,0,0,D,1,No Deposit,9.0,0.0
111355,Hotel,1,4,2017,June,5,1,0.0,0,True,PRT,1,0,4,A,0,No Deposit,NaN,65.0
111924,Hotel,1,7,2017,May,31,1,0.0,0,True,PRT,1,0,1,A,0,No Deposit,NaN,65.0
111925,Hotel,1,6,2017,July,17,1,0.0,0,True,PRT,1,1,1,A,0,No Deposit,NaN,65.0
117295,Hotel,1,0,2017,August,2,1,0.0,0,True,PRT,1,0,0,A,0,No Deposit,NaN,65.0

In [87]:
df['month_arrival_date'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [82]:
df.deposit_policy.unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [21]:
dados = dados_2015[dados_2015['num_children']>=1]
dados_2015.describe()

,cancellation,days_between_booking_arrival,year_arrival_date,day_of_month_arrival_date,num_adults,num_children,num_babies,repeated_guest,num_previous_cancellations,num_previous_stays,changes_between_booking_arrival,id_travel_agency_booking,avg_price
count,12869.000000,12869.000000,12869.0,12869.000000,12869.000000,12865.000000,12869.000000,12869.00000,12869.00000,12869.000000,12869.000000,10576.000000,12869.000000
mean,0.205300,57.462507,2015.0,15.795011,1.838993,0.104081,0.017251,0.02813,0.08501,0.053773,0.259072,111.321388,92.566480
std,0.403936,72.159854,0.0,8.936567,1.061828,0.410492,0.151197,0.16535,0.62887,0.488187,0.662758,110.093906,47.897997
min,0.000000,0.000000,2015.0,1.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,6.000000,2015.0,8.000000,2.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,9.000000,61.200000
50%,0.000000,30.000000,2015.0,16.000000,2.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,39.000000,86.000000
75%,0.000000,81.000000,2015.0,23.000000,2.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,240.000000,120.000000
max,1.000000,737.000000,2015.0,31.000000,55.000000,10.000000,9.000000,1.00000,26.00000,14.000000,20.000000,352.000000,300.000000

In [24]:
dados_2016.describe()

,cancellation,days_between_booking_arrival,year_arrival_date,week_number_arrival_date,day_of_month_arrival_date,num_weekend_nights,num_workweek_nights,num_adults,num_children,num_babies,...,repeated_guest,num_previous_cancellations,num_previous_stays,changes_between_booking_arrival,id_travel_agency_booking,id_person_booking,customer_type,avg_price,required_car_parking_spaces,total_of_special_requests
count,56707.000000,56707.000000,56707.0,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,...,56707.000000,56707.000000,56707.000000,56707.00000,49130.000000,3182.000000,56707.000000,56707.000000,56707.000000,56707.000000
mean,0.358633,102.870369,2016.0,28.458162,15.911104,0.893981,2.442802,1.850988,0.104185,0.008165,...,0.031354,0.044404,0.153526,0.22484,82.617830,168.077310,0.423986,98.196851,0.068334,0.548645
std,0.479603,106.582358,0.0,13.925493,8.784897,0.983110,1.863548,0.498133,0.396580,0.099838,...,0.174275,0.396707,1.557271,0.66649,105.889359,115.391856,0.814692,44.529249,0.253296,0.761173
min,0.000000,0.000000,2016.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,17.000000,2016.0,17.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,9.000000,51.000000,0.000000,68.530000,0.000000,0.000000
50%,0.000000,68.000000,2016.0,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,14.000000,174.000000,0.000000,90.950000,0.000000,0.000000
75%,1.000000,160.000000,2016.0,41.000000,24.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,191.000000,223.000000,0.000000,120.000000,0.000000,1.000000
max,1.000000,709.000000,2016.0,53.000000,31.000000,19.000000,50.000000,4.000000,3.000000,10.000000,...,1.000000,13.000000,58.000000,21.00000,481.000000,499.000000,3.000000,300.000000,3.000000,5.000000

In [21]:
dados_2016.loc[dados_2016['num_babies']==10]

,type,cancellation,days_between_booking_arrival,year_arrival_date,month_arrival_date,week_number_arrival_date,day_of_month_arrival_date,num_weekend_nights,num_workweek_nights,num_adults,...,num_previous_stays,reserved_room,changes_between_booking_arrival,deposit_policy,id_travel_agency_booking,id_person_booking,customer_type,avg_price,required_car_parking_spaces,total_of_special_requests
46619,Hotel,0,37,2016,January,3,12,0,2,2,...,0,D,1,No Deposit,9.0,NaN,0,84.45,0,1

In [16]:
dados_2017.describe()

,cancellation,days_between_booking_arrival,year_arrival_date,week_number_arrival_date,day_of_month_arrival_date,num_weekend_nights,num_workweek_nights,num_adults,num_children,num_babies,...,repeated_guest,num_previous_cancellations,num_previous_stays,changes_between_booking_arrival,id_travel_agency_booking,id_person_booking,customer_type,avg_price,required_car_parking_spaces,total_of_special_requests
count,40687.000000,40687.000000,40687.0,40687.000000,40687.000000,40687.000000,40687.000000,40687.000000,40687.000000,40687.000000,...,40687.000000,40687.000000,40687.000000,40687.000000,35023.000000,2310.000000,40687.000000,40687.000000,40687.000000,40687.000000
mean,0.386979,109.259223,2017.0,18.630373,15.717576,0.973308,2.601543,1.877995,0.126281,0.006464,...,0.034188,0.011871,0.171062,0.239438,96.855409,239.696970,0.328065,114.493903,0.054981,0.676506
std,0.487065,107.940953,0.0,9.422475,8.789609,1.014337,1.973291,0.496172,0.436139,0.081659,...,0.181714,0.184520,1.765330,0.683429,120.664646,148.398028,0.740487,51.656641,0.235894,0.846531
min,0.000000,0.000000,2017.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,23.000000,2017.0,11.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,9.000000,127.000000,0.000000,80.000000,0.000000,0.000000
50%,0.000000,80.000000,2017.0,19.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,14.000000,223.000000,0.000000,107.100000,0.000000,0.000000
75%,1.000000,164.500000,2017.0,26.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,240.000000,366.000000,0.000000,140.000000,0.000000,1.000000
max,1.000000,629.000000,2017.0,35.000000,31.000000,16.000000,40.000000,4.000000,3.000000,2.000000,...,1.000000,6.000000,72.000000,18.000000,535.000000,543.000000,3.000000,300.000000,8.000000,5.000000